html {
	background-color: #3f94e7;
	font-family: open sans;
}

.logo {
	text-align: center;
	padding-top: 50px;
}

.logo img{
	max-height: 35px;
}

h1 {
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 35px;
	font-weight: 300;
}

.signup-box {
	width: 400px;
	background-color: white;
	text-align: center;
	border-radius: 3px;
	margin-left: auto;
	margin-right: auto;
}

.signup-form {
	margin-left: 40px;
	margin-right: 40px;
}

.email {
	display: block;
}

label {
	font-size: 17px;
	font-weight: 600;
	display: block;
	text-align: left;
	margin-bottom: 15px;
}

input {
	width: 100%;
	border: 2px #eaeaea solid;
	margin-bottom: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	font-size: 15px;
}

.signup-button {
	width: 100%;
	background-color: #64c56f;
	color: white;
	padding: 15px;
	font-size: 20px;
	margin-bottom: 48px;
	cursor: pointer;
}
.signup-button:hover {
	background-color: #0CB863;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;
}

.login {
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
	color: white;
}

.login-link {
	margin-left: 10px;
	color: #ffffff;
}